<form action="/comments" method="post">
  <div class="form-floating mb-3">
    <input
      type="name"
      class="form-control"
      id="floatingName"
      placeholder="name"
      name="username"
    />
    <label for="floatingName">Name</label>
  </div>
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="floatingcomment"
      placeholder="comment"
      name="comment"
    />
    <label for="floatingcomment">Comment</label>
  </div>
  <div style="margin: 10px 0px;" class="form-button">
    <button type="submit" class="btn btn-primary">Primary</button>
  </div>
</form>
