<form action="/delete" method="post">
  <div class="form-floating mb-3">
    <input
      type="Id"
      name="id"
      class="form-control"
      id="floatingId"
      placeholder="Id"
    />
    <label for="floatingId">Id</label>
  </div>
  <div class="form-button">
    <button type="submit" class="btn btn-primary">Primary</button>
  </div>
</form>
