<header>
  <div class="header">
    <a href="/">
      <h1 style="text-align: center">CRUD</h1>
    </a>
    <nav style="display: flex; justify-content: center">
      <ul>
        <a href="/create">
          <li>Create</li>
        </a>
      </ul>
      <ul>
        <a href="/read" rel="noopener noreferrer">
          <li>Read</li>
        </a>
      </ul>
      <ul>
        <a href="/update" rel="noopener noreferrer">
          <li>Update</li>
        </a>
      </ul>
      <ul>
        <a href="/delete" rel="noopener noreferrer">
          <li>Delete</li>
        </a>
      </ul>
      <ul>
        <a href="/comments" rel="noopener noreferrer">
          <li>Comments</li>
        </a>
      </ul>
    </nav>
  </div>
</header>
